<div class="container" *ngIf="weather$ | async as weather">
  <div class="clickable {{(dateSelection$ | async)===i?'selected':''}}" *ngFor="let day of weather.daily; let i = index" (click)="selectDate(i)">
    <div class="margin-5">
      <div class="padding-bottom-3">
        {{utilityService.getDay(day.dt)}}
      </div>
      <div>
        {{utilityService.getDate(day.dt)}}
      </div>
      <div>
        <img class="small-icon" [src]="'http://openweathermap.org/img/wn/' + day.weather[0].icon + '@2x.png'">
      </div>
      <div class="description">
        <div class="auto-scroll capitalize" *ngIf="day.weather[0].description.length>12">
          {{day.weather[0].description}}
        </div>
        <div class="capitalize" *ngIf="day.weather[0].description.length<=12">
          {{day.weather[0].description}}
        </div>
      </div>
    </div>
  </div>
  <div class="height-100" *ngIf="weather.daily">
    <canvas baseChart width="960" height="150"
            [datasets]="lineChartData$ | async"
            [labels]="lineChartLabels$ | async"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
