@import "../styles";

section {
  font-family: sans-serif;
  font-weight: normal;
  min-height: 100vh;
  background-color: var(--dark-cosmos-color);
  transition: background-color 1s ease-in-out;
  color: ghostwhite;
  .container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}


