<div class="container" *ngIf="weather$ | async as weather">
  <div class="box" *ngIf="weather.daily[0].pop">
    <div class="heading">Probability of precipitation</div>
    <div>{{utilityService.getRoundValue(weather.daily[0].pop*100)}} %</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].rain">
    <div class="heading">Precipitation</div>
    <div>{{utilityService.getRoundValue(weather.daily[0].rain)}} mm</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].humidity">
    <div class="heading">Humidity</div>
    <div>{{utilityService.getRoundValue(weather.daily[0].humidity)}} %</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].wind_speed">
    <div class="heading">Wind</div>
    <div>{{utilityService.getRoundValue(weather.daily[0].wind_speed)}} m/s</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].uvi">
    <div class="heading">UV</div>
    <div>{{utilityService.getUVIValue(weather.daily[0].uvi)}}</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].sunrise">
    <div class="heading">Sunrise</div>
    <div>{{utilityService.gettime(weather.daily[0].sunrise)}}</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].sunset">
    <div class="heading">Sunset</div>
    <div>{{utilityService.gettime(weather.daily[0].sunset)}}</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].pressure">
    <div class="heading">Pressure</div>
    <div>{{weather.daily[0].pressure}} hPa</div>
  </div>
  <div class="box" *ngIf="weather.daily[0].dew_point">
    <div class="heading">Atmospheric Temperature</div>
    <div>{{weather.daily[0].dew_point}} °</div>
  </div>

</div>
