<div class="container" *ngIf="weather$ | async as weather">
  <div class="clickable" *ngFor="let hour of weather.hourly; let i = index" (click)="selectHour(hour.dt)">
    <div class="margin-5" *ngIf="i<24">
      <div>
        {{utilityService.getHour(hour.dt)}}
      </div>
      <div>
        <img class="small-icon" [alt]="hour.weather[0].description" [src]="'http://openweathermap.org/img/wn/' + hour.weather[0].icon + '@2x.png'">
      </div>
      <div>
        <div>
          {{utilityService.getRoundValue(hour.temp)}} °
        </div>
      </div>
    </div>
  </div>
</div>
