<div class="container" *ngIf="weather$ | async as weather">
  <div *ngFor="let hour of weather.hourly">
    <div class="margin-5">
      <div>
        {{utilityService.getHour(hour.dt)}}
      </div>
      <div>
        <img class="small-icon" [alt]="hour.weather[0].description" [src]="'http://openweathermap.org/img/wn/' + hour.weather[0].icon + '@2x.png'">
      </div>
      <div>
        <div>
          {{utilityService.getRoundValue(hour.temp)}} °
        </div>
      </div>
    </div>
  </div>
</div>
