/* You can add global styles to this file, and also import other style files */

:root {
  /* Fixed colors that don't get transition/animation */
  --dark-cosmos-color: hsl(290, 34%, 10%);
  --star-color: hsl(272, 57%, 95%);
  --t-sun-color: hsl(47, 100%, 88%);
  --t-moon-color: hsl(274, 93%, 94%);
  --t-moon-pattern-color: hsl(274, 58%, 89%);

  --sunsys-color: hsl(41, 99%, 75%);
  --sunsys-patterns-color: hsl(33, 95%, 73%);
  --earth-water-color: hsl(202, 62%, 74%);
  --earth-continent-color: hsl(192, 34%, 64%);

  /* colorz  that will change on transition */
  --circle-bg-color: hsl(28, 97%, 70%);
  --cactus-body-color: hsl(337, 43%, 28%);
  --cactus-flower-color: hsl(348, 80%, 62%);
  --mountain-color: hsl(346, 43%, 50%);
  --sand-01-color: hsl(339, 55%, 30%);
  --sand-02-color: hsl(335, 62%, 37%);
  --sand-03-color: hsl(338, 53%, 38%);
  --sand-04-color: hsl(336, 46%, 50%);


  /* The poster Illustration colors */
  --poster: hsl(25, 43%, 79%);
  --poster-border: min(3vmax, 50px);


  /* animation and transition timings */
  --t-slow: 2500ms;
  --t-med: 1500ms;
  --t-fast: 1000ms;
  --t-delay-motionpath: 400ms;
  --t-delay-colorfades: 200ms;

  --a-scale-from: scale(1);
  --a-scale-to: scale(1.05);

}

::-webkit-scrollbar:hover, ::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #DDDDDD;
}

body {
  margin: 0;
}
